{% layout "layout.liquid" %} {% block content %}
<div>
    <form action="/cars/{{ id }}/{{ commentId }}?_method=PUT" method="POST">
    <fieldset>
      <legend class="editor-com">Edit Your Comment</legend>
      
      <textarea name="{{ commentId }}" placeholder="" id="" cols="30" rows="10">
      </textarea>


      </fieldset>
      
      <input type="submit" id="edit-btn" value="Update" />
    
</div>
</form>
{% endblock %}