{% layout "layout.liquid" %} {% block content %}
<div>
  {% for comment in car.Comments %}
  {% if comment._id == commentId %}
    <form action="/cars/{{ car._id }}/{{ comment._id }}?_method=PUT" method="POST">
    <fieldset>
      <legend class="editor-com">Edit Your Comment</legend>
      
      <input type="text" name="Comments" placeholder="Hmm..." value="">
      </input>


      </fieldset>
      
      <input type="submit" id="edit-btn" value="Update" />
    
</div>
</form>
{% endif %}
{% endfor %}
{% endblock %}