/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */

main {
    background-color: #add8e6;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
  background-color: #add8e6;
}

 #nav-bar1 {
  position: absolute;
  margin: -150px 900px 900px 1550px;
  background-color:mediumpurple;
  border: 1px solid #ffffff;
 }

 #nav-bar2 {
  position: absolute;
  margin: -150px 900px 900px 1700px;
  background-color:mediumpurple;
  border: 1px solid #ffffff;
 }

 #logout-show {
  position: absolute;
  margin: -150px 900px 900px 1700px;
  background-color:mediumpurple;
  border: 1px solid #ffffff;
 }

h2 {
    color: lightgoldenrodyellow;
    font-weight: normal;
    margin-left: 20px;
    font-family: 'Audiowide', cursive;
}

.main-title {
    color: mediumpurple;
    font-style: italic;
    text-align: center;
    font-size: 66px;
    font-weight: 500;
    font-family: 'Faster One', cursive;
    margin-top: 30px;
    text-shadow:1px 3px lightgoldenrodyellow;
    
    
}
    h3 {
        font-size: 24px;
        color: #ff9090;
        font-weight: normal;
        font-style: normal;
        margin-left: 20px;
        font-family: 'Audiowide', cursive;
        
    }

    .comments-form {
      color: #29264E;
      /* font-family: 'Audiowide', cursive; */
      font-weight: 600;
      font-size: 18px;
    }

  .editor-legend {
    font-size: 30px;
    color: lightgoldenrodyellow;


  }

  .comment-list {
    font-size: 24px;
    color: 	#ff9090;
    list-style-type: "\1F44D";
    
  }

  .ride-info {
    font-size: 44px;
    color: 	#ff9090;
    margin-top: 40px;

  }

  .comment-container {
    font-size: 18px;
    color: 	#ff9090;
    list-style-type: "\1F44D";
    display: inline-flex;
  }

  .btn {
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #note-items {
    color: 	#ff9090;
    font-family: 'Audiowide', cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding-left: 3px;
  }

  .thoughts {
    border-style: 5px solid lightgoldenrodyellow;
  }


  #com-btn1 {
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 0px;
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }
  

  #com-btn2 {
    width: 60px;
    height: 30px;
    margin: 5px;
    padding: 0px; 
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #com-entry{
    margin-top: 200px;
    color: lightgoldenrodyellow;
  }

  #add-com {
    margin-top: 50px;
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #com-list{
    padding: 20px;
  }
  
  #rmcar-btn {
    background-color: mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 35px;
  }
  
  #edit-btn {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }

  #newcar-btn {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }

  .show-pic {
    width: 700px;
    border-radius: 15px;
    margin-left: 10px;
  }

  .car-pics {
    max-width: 50%;
    max-height: 80%;
    height: auto;
    border-radius: 15px;
    padding-left: 0px;
    margin-left: 33px;
  }

  .btn-switch {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }

  
