/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */

body {
    background-color: lightblue;
    
}

h2 {
    color: lightgoldenrodyellow;
    font-weight: bold;
    margin-left: 20px;
}

.main-title {
    color: mediumpurple;
    font-style: italic;
    text-align: center;
    font-size: 66px;
    font-weight: 500;
    font-family: 'Faster One', cursive;
    margin-top: 30px;
    text-shadow:1px 3px lightgoldenrodyellow;
    
    
}
    h3 {
        font-size: 24px;
        color: lightgoldenrodyellow;
        font-weight: bold;
        font-style: normal;
        margin-left: 20px;
        
    }

  .editor-legend {
    font-size: 30px;
    color: lightgoldenrodyellow;


  }

  .comment-list {
    font-size: 24px;
    color: 	#ff9090;
    list-style-type: "\1F44D";
    
  }

  .ride-info {
    font-size: 44px;
    color: 	#ff9090;

  }

  .comment-container {
    font-size: 18px;
    color: 	#ff9090;
    list-style-type: "\1F44D";
    display: inline-flex;
  }

  .btn {
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #com-btn1 {
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 0px;
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }
  

  #com-btn2 {
    width: 60px;
    height: 30px;
    margin: 5px;
    padding: 0px; 
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #com-entry{
    margin-top: -350px;
  }

  #add-com {
    margin-top: 50px;
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #com-list{
    padding: 20px;
  }
  
  #rmcar-btn {
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }
  
  #edit-btn {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }

  #newcar-btn {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }

  .show-pic {
    width: 50%;
    height: auto;
  }

  .btn-switch {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }
