
* {
  font-family: 'Audiowide', cursive;
  background-color: #add8e6;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

main {
    background-color: #add8e6;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

 #nav-bar1 {
  position: absolute;
  margin: -100px 900px 900px 30px;
  background-color:mediumpurple;
  border: 1px solid #ffffff;
 }

 #nav-bar2 {
  position: absolute;
  margin: -100px 900px 900px 1750px;
  background-color:mediumpurple;
  border: 1px solid #ffffff;
 }

 #logout-show {
  position: absolute;
  margin: -100px 900px 900px 1750px;
  background-color:mediumpurple;
  border: 1px solid #ffffff;
 }

h2 {
    color: lightgoldenrodyellow;
    font-weight: normal;
    margin-left: 20px;
    font-family: 'Audiowide', cursive;
}

.main-title {
    color: mediumpurple;
    font-style: italic;
    text-align: center;
    font-size: 66px;
    font-weight: 500;
    font-family: 'Faster One', cursive;
    margin-top: 30px;
    text-shadow:1px 3px lightgoldenrodyellow;
    
    
}
    h3 {
        font-size: 26px;
        color: #ff9090;
        font-weight: bold;
        font-style: italic;
        margin-left: 20px;
        font-family: 'Audiowide', cursive;
        
    }

    .comments-form {
      color: #29264E;
      /* font-family: 'Audiowide', cursive; */
      font-weight: 600;
      font-size: 18px;
    }

  .editor-legend {
    font-size: 30px;
    color: lightgoldenrodyellow;


  }

  .comment-list {
    font-size: 24px;
    color: 	#ff9090;
    list-style-type: "\1F44D";
    
  }

  .ride-info {
    font-size: 44px;
    color: 	#ff9090;
    margin-top: 40px;

  }

  .comment-container {
    font-size: 18px;
    color: 	#ff9090;
    list-style-type: "\1F44D";
    display: inline-flex;
  }

  .btn {
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #note-items {
    color: 	#ff9090;
    font-family: 'Audiowide', cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    padding-left: 3px;
  }

  .thoughts {
    border-style: 2px solid red;
  }


  #com-btn1 {
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 0px;
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }
  

  #com-btn2 {
    width: 60px;
    height: 30px;
    margin: 5px;
    padding: 0px; 
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #com-entry{
    margin-top: 200px;
    color: lightgoldenrodyellow;
  }

  #add-com {
    margin-top: 50px;
    background-color: mediumpurple;
    border: 1px solid #ffffff;
  }

  #com-list{
    padding: 20px;
  }
  
  #rmcar-btn {
    background-color: mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 35px;
  }
  
  #edit-btn {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }

  #newcar-btn {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }

  .show-pic {
    width: 700px;
    border-radius: 15px;
    margin-left: 10px;
  }

  .car-pics {
    max-width: 60%;
    height: auto;
    border-radius: 25px;
    padding-left: 0px;
    margin-left: 33px;
    
  }

  .car-pics:hover {
    transform: scale(1.15);
    transition: transform .25s;
  }

  .btn-switch {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 10px;
  }

  #update-form {
    text-align: left;
    margin-left: 800px;
    margin-top: 50px;
    color: #29264E;
  }

  #new-form {
    text-align: left;
    margin-left: 800px;
    margin-top: 50px;
    color: #29264E;
  }
  
  #txt-box {
    border: 2px solid lightgoldenrodyellow;
  }

  #txt-boxnew {
    border: 2px solid lightgoldenrodyellow;
  }

  #main-page {
    text-align: left;
    margin-left: 750px;
    margin-top: 50px;
    color: #29264E;
  }

  #mainpg-input {
    border: 2px solid lightgoldenrodyellow;
  }

  #log-lgd {
    color: lightgoldenrodyellow;
    font-size: 24px;
  }

  #sign-pg {
    text-align: left;
    margin-left: 750px;
    margin-top: 50px;
    color: #29264E;
  }

  .edit-combox {
    text-align: left;
    margin-left: 800px;
    margin-top: 50px;
    color: #29264E;
    
  }

  #sign-lgd {
    color: lightgoldenrodyellow;
    font-size: 24px;
  }
  
  #sign-lgd {
    border: 2px solid lightgoldenrodyellow;
  }

  #welcome {
    color: lightgoldenrodyellow;
    font-size: 24px;
  }

  #lg-btn1 {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
  }

  #lg-btn2 {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-left: 20px;
    margin-top: 10px;
  }

  #sgn-btn {
    background-color:mediumpurple;
    border: 1px solid #ffffff;
    margin-top: 10px;
  }

  #edit-com-entry {
    border: 2px solid lightgoldenrodyellow;
  }