{% layout "layout.liquid" %}
{% block content %}
      <div>
        <form id="main-page" action="/user/login" method="POST">
          <fieldset>
            <legend id="log-lgd">User Login</legend>
            <label
              >USERNAME: <input id="mainpg-input" type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input id="mainpg-input" type="password" name="password" required />
            </label>
            <input type="submit" id="lg-btn1" value="Login" />
            <a href="/user/signup">
            <input type="button" id="lg-btn2" value="Sign up"/>
        </a>
          </fieldset>
          
        </form>
       
            
    
      </div>
{% endblock %}
