{% layout "layout.liquid" %}
{% block content %}
      <div>

        <form action="/user/login" method="post">
          <fieldset>
            <legend>Sign in to see your rides!</legend>
            <label
              >USERNAME: <input type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input type="password" name="password" required />
            </label>
            <br />
            <input type="submit" value="Login" />
            
          </fieldset>
        </form>

{% endblock %}
