{% layout "layout.liquid" %} {% block content %}
<div>
  <form id="sign-pg" action="/user/signup" method="post">
    <fieldset>
      <legend id="welcome">Welcome! Sign up below.</legend>
      <label>USERNAME: <input id="sign-lgd" type="text" name="username" required /> </label>
      <label
        >PASSWORD: <input id="sign-lgd" type="password" name="password" required />
      </label>
      <br />
      <input type="submit" value="Create Account" />
    </fieldset>
  </form>
</div>
{% endblock %}
