{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/user/signup" method="post">
    <fieldset>
      <legend>Welcome! Sign up below.</legend>
      <label>USERNAME: <input type="text" name="username" required /> </label>
      <label
        >PASSWORD: <input type="password" name="password" required />
      </label>
      <br />
      <input type="submit" value="Create Account" />
    </fieldset>
  </form>
</div>
{% endblock %}
