{% layout "layout.liquid" %} {% block content %}

	<a href="/cars/new"><button>Create A New Car</button></a>

	<article>
        <div>
		{% for item in data %}
        
        <h1>{{ item.Make }}</h1>
        <a href="/cars/{{ item._id }}"><img src="{{ item.Img }}" width="200" alt="pic"></a>
    </div>
	</article>

{% endfor %} 
{% endblock %}

<a href="/user/logout"><button>Logout</button></a>
